---
const { adsense } = Astro.locals;
const { pub = adsense.adsense_client, slot_adsense } = Astro.props as {
  pub: string;
  slot_adsense: { id: string; name: string };
};
---

<div
  class={`${slot_adsense && pub ? "" : "hidden"} ad-container-${slot_adsense.name}`}
>
  <script
    async
    src={`https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-${pub}`}
    crossorigin="anonymous"></script>
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client={`ca-${pub}`}
    data-ad-slot={slot_adsense.id}
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
