---
import BaseLayout from "~/layouts/base.astro";
import FeatureNews from "./_home/featureNews.astro";
import Headlines from "./_home/headlines.astro";
import OtherNews from "./_home/otherNews.astro";
import { AdsenseMultiplex, AdsenseHorizontal } from "~/components/adsense";
const { home, adsense } = Astro.locals;
const adsense_1 = adsense?.adsense_slots?.find(
  (adsense) => adsense?.slot_name == "multiplex"
);
const adsense_2 = adsense?.adsense_slots?.find(
  (adsense) => adsense?.slot_name == "horizontal-1"
);
---

<BaseLayout>
  {home?.recentNews && <Headlines articles={home?.recentNews} />}

  {
    adsense_2 && (
      <section class="container mt-5" data-pagefind-ignore="all">
        <AdsenseHorizontal
          client:only="react"
          pub={adsense?.adsense_client!}
          slot_adsense={{
            id: adsense_2?.slot_id,
            name: adsense_2?.slot_name,
          }}
        />
      </section>
    )
  }

  {home?.featureNews && <FeatureNews articles={home?.featureNews} />}

  {
    adsense_1 && (
      <section class="container mt-5" data-pagefind-ignore="all">
        <AdsenseMultiplex
          client:only="react"
          pub={adsense?.adsense_client!}
          slot_adsense={{
            id: adsense_1?.slot_id,
            name: adsense_1?.slot_name,
          }}
        />
      </section>
    )
  }

  {home?.otherNews && <OtherNews articles={home?.otherNews} />}
</BaseLayout>
