<div>
  <div class="container flex flex-col items-center justify-center py-20">
    <h1 class="text-4xl">404 - Bài viết không tồn tại</h1>
    <p class="mt-2">Nội dung có thể đã bị xoá.</p>
    <a href={Astro.url.origin} class="btn mt-6" aria-label="Return to Homepage"
      >Quay về trang chủ</a
    >
  </div>
</div>
