---
import Search01 from "~/assets/svgs/search-01.astro";
import { SITE } from "~/lib/config";
import ThemeController from "../bases/theme-controller.astro";
import MenuDropdown from "./menu-dropdown.astro";
---

<div class="navbar bg-base-100 border-b">
  <div class="navbar-start lg:w-1/2">
    <MenuDropdown />
    <a
      data-astro-prefetch="false"
      class="text-xl px-2 text-nowrap lg:hidden"
      href={Astro.url.origin}
    >
      {SITE.title}
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <a data-astro-prefetch="false" class="text-xl px-2" href={Astro.url.origin}>
      {SITE.title}</a
    >
  </div>
  <div class="navbar-end">
    <ThemeController />
    <a
      data-astro-prefetch="false"
      class="btn btn-ghost btn-circle"
      href="/search"
      aria-label="Search"
      title="Search Button"
    >
      <Search01 />
    </a>
  </div>
</div>
