@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: "Source Sans Pro";
    --font-serif: "Source Serif 4 Variable";

    cursor: default;
  }

  html {
    @apply h-full text-[16px];
  }

  @media (min-width: 1024px) {
    html {
      @apply text-[17px];
    }
  }

  body {
    @apply font-sans antialiased h-full;
  }

  h1,
  h2 {
    @apply font-serif;
  }

  small,
  time {
    @apply text-sm;
  }

  .prose {
    pre {
      code {

        span,
        p {
          word-break: break-all;
        }
      }
    }
  }
}

@layer components {
  .a-01 {
    @apply hover:underline decoration-primary;
  }
}


/* styles.css */
::view-transition-new(root),
::view-transition-old(root) {
  animation-duration: 0.5s;
}

#progress-bar {
  box-shadow: 0px 2px 5px rgba(255, 69, 0, 0.5);
}