---
import Head from "~/components/bases/head.astro";
import Footer from "~/components/shared/footer.astro";
import Header from "~/components/shared/header.astro";
import { SITE } from "~/lib/config";

const { categories, adsense } = Astro.locals;
---

<!doctype html>
<html lang={SITE.locale}>
  <Head adsense={adsense} />
  <body>
    <Header categories={categories} />

    <main>
      <slot />
    </main>

    <Footer categories={categories} />
    <script>
      document.startViewTransition = document.startViewTransition || (() => {});
    </script>
  </body>
</html>
