---
import Head from "~/components/bases/head.astro";
import Footer from "~/components/shared/footer.astro";
import Header from "~/components/shared/header.astro";
import { getCategory } from "~/lib/api/home";
import { SITE } from "~/lib/config";
const categories = await getCategory();
---

<!doctype html>
<html lang={SITE.locale}>
  <Head />
  <body class="flex flex-col">
    <Header categories={categories} />
    <main class="flex-1">
      <slot />
    </main>
    <Footer categories={categories} />
  </body>
</html>
